<!--  ./views/index.handlebars -->
<div class="container py-5">

  <div class="row" style="background-color: burlywood;">
    <div class="col-12 col-lg-12 col-xl-12 mx-auto" style="background-color: cornsilk;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Trash Talk Generator <i class="fa fa-teeth-open"></i></h5>
          <hr>
          <form method="POST" action="/" class="row">
            <div class="form-group form-colonm mb-2 align-items-center col-4">
              <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg" alt=""
                style="width: 100%;height:80%;border: 1px solid gray">
              <div class="" style="text-align:center; border: 1px solid gray; padding:20px">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="engineer" name="engineer" {{#if
                    options.engineer}} checked {{/if}}>
                  <label class="custom-control-label" for="engineer">工程師</label>
                </div>
              </div>
            </div>

            <div class="form-group form-coloum mb-2 align-items-center col-4">
              <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg" alt=""
                style="width: 100%;height:80%;border: 1px solid gray;">
              <div class="" style="text-align:center; border: 1px solid; padding:20px">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="designer" name="designer" {{#if
                    options.designer}}checked{{/if}}>
                  <label class="custom-control-label" for="designer">設計師</label>
                </div>
              </div>
            </div>

            <div class="form-group form-coloum mb-2 align-items-center col-4">
              <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg" alt=""
                style="width: 100%;height:80%;border: 1px solid gray">
              <div class="" style="text-align:center; border: 1px solid; padding:20px">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="entrepreneur" name="entrepreneur" {{#if
                    options.entrepreneur}}checked{{/if}}>
                  <label class="custom-control-label" for="entrepreneur">創業家</label>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="row">
                <button class="btn btn-primary col-3" style="margin-left: 13px;" type="submit">Generate Trash
                  Talk</button>

                {{!-- 如果password有內容 --}}
                {{#if password}}
                <div class="alert alert-light col" role="alert" style="text-align: center; font-size: 20px">
                  <span class="mr-2"></span> <code>{{password}}</code>
                </div>
                {{/if}}
              </div>
            </div>



          </form>
        </div>

      </div>
    </div>
  </div>
</div>